<section id="one" class="tiles">
  <article>
    <span class="image">
      <img src="{{ '/assets/images/plastove-wc.jpg' | relative_url }}" alt="Mobilní WC + umyvadlo a pisóar" />
    </span>
    <header class="major">
      <h3><a href="{{ '/produkty/mobilni-wc-umyvadlo-a-pisoar/' | relative_url }}" class="link">Mobilní WC + umyvadlo a pisóar</a></h3>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="{{ '/assets/images/mobilni-wc-umyvadlo.jpg' | relative_url }}" alt="Mobilní WC + umyvadlo" />
    </span>
    <header class="major">
      <h3><a href="{{ '/produkty/mobilni-wc-umyvadlo/' | relative_url }}" class="link">Mobilní WC + umyvadlo</a></h3>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="{{ '/assets/images/mobilni-sprcha.jpg' | relative_url }}" alt="Mobilní sprcha" />
    </span>
    <header class="major">
      <h3><a href="{{ '/produkty/mobilni-sprcha/' | relative_url }}" class="link">Mobilní sprcha</a></h3>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="{{ '/assets/images/zahradni-nabytek.jpg' | relative_url }}" alt="Zahradní nábytek z recyklátu" />
    </span>
    <header class="major">
      <h3><a href="{{ '/produkty/zahradni-nabytek-z-recyklatu/' | relative_url }}" class="link">Zahradní nábytek z recyklátu</a></h3>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="{{ '/assets/images/kvetinac.jpg' | relative_url }}" alt="Květináč z recyklátu" />
    </span>
    <header class="major">
      <h3><a href="{{ '/produkty/kvetinac-z-recyklatu/' | relative_url }}" class="link">Květináč z recyklátu</a></h3>
    </header>
  </article>
</section>
